[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pymongo = "*"
dnspython = "*"
pymongoimport = "*"
twine = "*"
keyring = "*"
build = "*"

[dev-packages]

[requires]
python_version = "3"
